.light{
	position: relative;
	background-color: #F5FFFA;
	font-family: sans-serif;
}
/*******Navigation Menu************************
**********************************************/
nav{
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #696969;
	color: #ffffff;
}

.navlinks a{
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
}

.navlinks li a:hover{
	color: #000080;
}

.burger div{
	margin: 5px;
	width: 25px;
	height: 3px;
	background-color: #ffffff;

}

.burger{
	cursor: pointer;
	opacity: 0;
}


.header{
	display: block;
	text-align: center;
	justify-content: space-between;
	margin-bottom: 10px;
}
.header h1{
	font-size: 60px;
	font-family: serif;
	color: #0000FF;
	text-shadow: 1px 5px 5px rgba(0,0,030, .9);
}

.header p{
	font-size: 20px;
	color: #000000;
	text-shadow: 1px 5px 5px rgba(0,0,030, .4);
}

#heading{
	text-shadow: 1px 5px 5px rgba(0,0,030, .9);
}

/*******body***********************************
**********************************************/

.main{
	margin-bottom: 40px;
	padding: 10px;
	border: solid #F5F5F5;
	border-radius: 3%;
}

.main div{
	justify-content: space-between;
	border: solid #F5F5F5;
	border-radius: 3%;
	box-shadow: 1px 5px 5px rgba(0,0,030, .3)
}

.main div .input{
	margin-bottom: 10px;
}
.main div button{
	padding-top: 5px;
	margin-top: 5px;
	background-color: #C0C0C0;
	color: #0000FF;
	width: 80px;
	height: 30px;
	border-radius: 3%;
	box-shadow: 1px 5px 5px rgba(0,0,030, .3)
}

.greenText{
	color: #00FF00;
	font-family: serif;
	text-shadow: 1px 1px 1px rgba(0,0,030, .4);
}

.blueText{
	color: #0000FF;
	font-family: serif;
	text-shadow: 1px 1px 1px rgba(0,0,030, .4);
}
.links{
	text-decoration: none;
	color: #000080;
}
.links :hover{
	font-size: 20px;
}

/*Media Querry(Mobile Phones)**************************
*******************************************************/

@media only screen and (max-width: 500px){
	html{
		height: 100%;
		-webkit-overflow-scrolling: touch;
	}

	.light{
		position: relative;
		height: 100%;
		overflow-y: scroll;
		background-color: #F5FFFA;
		font-family: sans-serif;
	}
.navlinks{
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	list-style: none;
	margin-left: auto;
	color: #ffffff;
	background-color: #696969;
	justify-content: space-around;
	width: 40%;
	height: 60vh;
	top: 30vh;
	border-radius: 3%;
	opacity: 0;
}

.navlinks-open{
	opacity: 1;
}

nav .burger{
	opacity: 2;
	cursor: pointer;
}

.header h1{
	font-size: 40px;

}

.header p{
	font-size: 15px;
}
.main{
	margin: 0;
	width: auto;
}

.main div{
	margin: 0;
	width: auto;
	display: block;
	align-items: center;
	justify-content: space-between;
}

.main div .input{
	width: auto;
	margin-bottom: 10px;
}
.main div button{
	width: 20vw;
	height: 4vh;
	border-radius: 10%;
}




}


/***Media Query(Navigation Menu)**********************
*****************************************************/
@media only screen and (max-width: 700px){
	.navlinks{
		width: 60%;
	}
}

/***Media Query tablets*******************************
******************************************************/
@media only screen and (max-width: 800px){
	.light{
		overflow: hidden;
		margin: 0;
		background-color: #F5FFFA;
		font-family: sans-serif;

	}

	.main{
		width: auto;
		margin: 0;
	}

	.main div{
		width: auto;
		display: block;
		align-items: center;
		justify-content: space-between;
	}

	.main div .input{
		margin-bottom: 10px;
		width: auto;
	}
}


/*******Body(Dark Mode)************************************
*****************************************************/
.dark{
	background-color: #101010;
	margin: 5px;
	font-family: sans-serif;
}

.dark .header p{
	color: #ffffff;
}
.dark .main{
	color: #ffffff;
	border: solid #111111;
}

.dark .main div{
	border: solid #111111;
}

.dark #btt{
	color: #800080;
}
